* {
    margin-top: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    background-color: rgba(41, 128, 185, 0.8);
}

header {
    grid-area: hed;
    margin-bottom: 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
}

#HeroImage {
    width: 100%;
    margin-bottom: -5px;
}

nav {
    background-color: #2980b9;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.navItem {
    margin: 1em;
    color: black;
    text-decoration: none;
}

main {
    margin-top: 150px;
}

h2 {
    margin-top: 1em;
}

.articleImg {
    width: 60%;
    margin-left: 0.5em;
}

.moveFromBorder {
    margin-left: 0.5em;
}

.post {
    margin-bottom: 2em;
    background-color: #2980b9;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#post1 {
    grid-area: po1;
}

#post2 {
    grid-area: po2;
}

#post3 {
    grid-area: po3;
    margin-bottom: 0em;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.2);
}

p {
    margin-top: 1em;
}

.readMoreButton {
    margin-bottom: 0.5em;
}

aside {
    grid-area: asi;
    background-color: #2980b9;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-left: 4px solid #2471a3;
    padding-left: 15px;
    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.asideObject {
    margin-top: 0.5em;
}

.customButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #59abe1;
    border-radius: 5px;
    border: none;
}

#gridIndex {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'po1 asi'
        'po2 asi'
        'po3 asi'
        'foo foo';
}

footer {
    margin-top: 2em;
    grid-area: foo;
    background-color: #2980b9;
    margin-bottom: 0px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
}

section {
    background-color: #2980b9;
}

.inputDescriptor {
    margin-top: 1em;
}

#inputTitle {
    background-color: #9fcae4;
    appearance: none;
    border: none;
}

#inputImage {

    appearance: none;
    border: none;
    padding-left: 2em;
}

#inputText {
    background-color: #9fcae4;
    appearance: none;
    border: none;
}

#submitButton {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#descriptorSection {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
    grid-area: dsc;
    text-align: center;
}

#inputSection {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
    grid-area: inp;
}

#gridWriters {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        'con'
        'con'
        'con'
        'foo';
}

.cardImg {
    width: 200px;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 170px;
    padding-top: 1em;
    padding-bottom: 1em;
    grid-area: con;
}

#cardContainer>h1 {
    flex: 0 0 100%;
    text-align: center;
}

.card {
    background-color: #1b327b;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
    padding-top: 1em;
    border-radius: 0.5em;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

#gridNewPost {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'dsc'
        'inp'
        'foo';
}